<h3>Confirmation Of Order</h3>
<h4>Order N°{{ commande.id }}</h4>
<br>
<br>
<p>Date of Order: {{ commande.datecomm ? commande.datecomm|date('Y-m-d') : '' }}</p>
<p>Total Price: {{ commande.prixtot }} TND</p>
<br>
<br>
<br>
<h6>A&M Shop Services</h6>
<h7>Thank For Your Order, See You Soon </h7>