

{% extends 'front.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2  style="text-align: center;background-color: #5cb85c" >{{ "Payment is Completed Successfully" }}<br>{{ "Thank You For Order !!" }}</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}