{% extends 'front.html.twig' %}


{% block body %}
    <h1>Create new Event</h1>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('event_signal') }}">back to list</a>

{% endblock %}
