{% extends 'front.html.twig' %}

    <br>
    <br>
    <br>
    <h1>Ajouter une question</h1>

    {{ include('question/_form.html.twig') }}
{#
    <a href="{{ path('question_index',{'idcategorie': idcategorie }) }}">Afficher les questions</a> #}


