{% extends 'front.html.twig' %}


{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Ajouter une commentaire</h1>

    {{ include('reponse/_form.html.twig') }}

    <a href="{{ path('reponse_index',{'idquestion': idquestion }) }}">aficher les commentaires</a>
{% endblock %}


